*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-blush-background: #e7dadd;
  --color-light-blue: #add8e7;
  --color-dark-blue: #398c9e;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 3.9rem;
}

body {
  box-sizing: border-box;
  line-height: 1.7;
}

/*Disable smooth scrolling when users have prefers-reduced-motion enabled*/
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/*============
* NAVIGATION *
=============*/
.navbar {
  height: 4rem;
  transition: 600ms ease-in;
}

.navbar.scrolled {
  background-color: #fff;
  border-bottom: 0.1px solid lightgray;
}

.navbar-brand img {
  height: 2.5rem;
  transition: 2s linear;
}

.navbar-brand:hover {
  transform: scale(1.3);
}

.nav-link {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.nav-link:hover {
  font-weight: bold;
  filter: opacity(65%);
}

.nav-link.active {
  color: var(--color-light-blue) !important;
  font-weight: bold;
}

/*mobile navbar background color*/
@media only screen and (max-width: 991px) {
  .navbar-nav {
    background-color: white !important;
  }
}

/*==============
* LANDING PAGE *
===============*/
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(assets/heroAirplaneWing.jpg);
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*-----Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed-----*/
@media only screen and (max-width: 768px) {
  .hero {
    background-attachment: scroll;
  }
}

.hero-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*=======
* ABOUT *
========*/
.padding {
  padding: 80px 0;
}

.padding img {
  width: 100%;
}

.about-me-link {
  color: black;
  font-weight: bold;
  opacity: 75%;
}

.about-me-link:hover {
  color: var(--color-light-blue);
  text-decoration: none;
}

/*========
* SKILLS *
=========*/
.jumbotron {
  background-color: var(--color-blush-background);
  border: 1px solid var(--color-blush-background);
}

/* list items below are also targeting footer icons */
.list-inline > li svg {
  height: 2.5rem;
  width: 2.5rem;
  font-size: 3rem;
  fill: black;
  filter: opacity(65%);
}

.list-inline > li > a > svg:hover {
  fill: white;
}

.skills-text {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

/*=========
* DIVIDER *
==========*/
.divider {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(assets/airplaneWing.jpg);
  background-color: white;
  height: 50vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for all tablets and phones. 
Increase/decrease the pixels if needed */
@media only screen and (max-width: 768px) {
  .divider {
    background-attachment: scroll;
  }
}

.divider-content {
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider-caption h1 {
  font-size: 2rem;
  text-shadow: 5px 5px 4px gray;
}

/*==========
* PROJECTS *
===========*/
.card-title {
  color: var(--color-dark-blue);
}

.card {
  transition: 0.2s linear;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

/*====== GRID =======*/
.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* grid-template-rows: repeat(5, 20vw); */
  grid-gap: 1rem;
  position: relative;
  overflow: hidden;
}

/* .tile {
  height: 400px;
  width: 400px;
  overflow: hidden;
} */

.tile {
  overflow: hidden;
}

/* .tile > img {
  height: inherit;
  width: inherit;
  position: absolute;
} */

.tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* position: absolute; */
  display: block;
}

/* image? */
.tile:nth-child(1) {
  grid-column: span 4;
  grid-row: span 2;
  /* position: absolute; */
  overflow: hidden;
}

.tile:nth-child(2),
.tile:nth-child(3) {
  grid-column: span 2;
}

.tile:nth-child(4),
.tile:nth-child(5) {
  grid-column: span 3;
}

/* END GRID */

/* HOVER OVERLAY */
.tile a {
  text-decoration: none;
}

.description > * {
  color: var(--color-dark-blue);
}

.description p {
  font-size: 1.5rem;
  /* text-align: center; */
  padding: 5rem;
}

.description {
  height: inherit;
  width: inherit;
  position: relative;
  transform: translateY(400px);
  transition: ease-in 1s;
}
.tile:hover > .description {
  background-color: var(--color-blush-background);
  transform: translateY(0);
}

/* .description {
  height: inherit;
  width: inherit;
  position: relative;
  transform: translateY(100%);
}

.description:hover > .info {
  background-color: var(--color-blush-background);
  transform: translateY(0);
  transition: ease-in 1s;
} */

/* .description {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position relative is set on parent
  position: absolute;
  top and left 0 because of absolute
  top: 0;
  left: 0;
  filter: opacity(20%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
} */

/* .description::before {
  have to specify content or else won't show in browser
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-blush-background);
  scaleY only occurs in the y direction
  .2s is the delay
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
    background-color 0.1s;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 1s;
} */

/* so line is only visible upon hover */
/* .description:hover::before {
  transform: scaleY(1);
} */

/*==============
* CONTACT FORM *
===============*/
#contact {
  border-top: 1px solid lightgray;
}

/*========
* FOOTER *
=========*/
.footer {
  background-color: var(--color-blush-background);
  border-top: 0.1rem solid lightgray;
}

.copy-link {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 0.8rem;
}

/*===============
* MEDIA QUERIES * 
================*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {
  .card-img-top {
    width: 100%;
    height: 45vh;
    object-fit: cover;
  }

  .grid {
    display: block;
  }

  .tile {
    margin-bottom: 1rem;
  }

  .container > form {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .card-img-top {
    width: 100%;
    height: 36vw;
    object-fit: cover;
  }
}

/* Lg devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
  }
}

/* XL devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
  }
}

/* XL devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
  .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
  }
}
